<nav class="nav d-flex justify-content-between">
  <div class="d-flex first">
    <img
      width="80px"
      src="../../assets/Logo - Maids.cc visas and nannies V Blue.png"
      class="fs-2 danger align-self-center"
    />>
  </div>
  <div class="avatarDiv me-3 d-flex align-self-center">
    <div class="d-flex">
      <button (click)="changeTheme('redandblue')" class="blue me-2"></button>
      <button (click)="changeTheme('blackandgold')" class="gold me-2"></button>
    </div>
    <p-avatar
      class="ms-1"
      image="../../assets/353868447_6180342998700400_7472827507306146142_n.jpg"
      styleClass="mr-2"
      size="large"
      shape="circle"
    ></p-avatar>
  </div>
</nav>
