<div class="userCards mt-5 mb-5 text-center flex-column w-100">
  <h1 class="justify-content-center">User Cards</h1>

  <p-floatLabel>
    <input pInputText id="search" [(ngModel)]="searchTerm" />
    <label for="search"> <i class="pi pi-search"></i> Search </label>
  </p-floatLabel>
</div>
<div class="col-xl-12 container mt-5 pt-5 card-container">
  @for (card of cards ; track $index ) {
  <div class="mt-5 mb-5">
    <p-card
      (click)="navigateToDetails(card.id)"
      header="{{ card.first_name }}"
      subheader="{{ card.last_name }}"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img height="354px" alt="Card" [src]="card.avatar" />
      </ng-template>
    </p-card>
  </div>
  } @empty {
  <div class="skeleton mt-5 h-50 w-100 col-xl-12 surface-card">
    <p-skeleton width="360px" height="360px"></p-skeleton>
    <div class="flex mb-3">
      <div class="mt-5">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </div>
  }
</div>
<div class="w-100 d-flex justify-content-center mt-5 d-flex">
  <p-paginator
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    [showPageLinks]="true"
    [showJumpToPageDropdown]="false"
    (onPageChange)="onPageChange($event)"
  />
</div>
