<section
  [@fadeIn]
  class="container details d-flex justify-content-center flex-column mt-5 pt-5"
>
  @if (userDetails) {
  <h1 class="mb-5 mt-5 title d-flex justify-content-center">User Details</h1>
  <button
    pButton
    routerLink="/card"
    pRipple
    icon="pi pi-arrow-left    "
    class="--bs-danger"
  ></button>
  <div class="mt-5 mb-5 align-self-center">
    <p-card
      header="{{ userDetails.first_name }} {{ userDetails.last_name }}"
      subheader="User's ID: {{ userDetails.id }}"
    >
      <ng-template pTemplate="header">
        <p-avatar
          image="{{ userDetails.avatar }}"
          alt="img"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        />
      </ng-template>
      <ng-template pTemplate="footer">
        <h5>
          Email:
          <a
            class="text-decoration-none"
            href="mailto:{{ userDetails.email }}"
            >{{ userDetails.email }}</a
          >
        </h5>
      </ng-template>
    </p-card>
  </div>

  }@else {
  <app-skeleton [cardCount]="totalRecords"></app-skeleton>
  }
</section>
