* {
  box-sizing: border-box;
}
.danger {
  color: var(--bs-danger);
}

nav.nav {
  background-color: var(--bg-300);
}

.avatarDiv {
  cursor: pointer;
}

@media (max-width: 768px) {
  .tool {
    width: auto !important;
  }
}
@media (max-width: 576px) {
  .tool {
    width: 180px !important;
  }
  .h1 {
    font-size: 15px !important;
  }
}
@media (max-width: 425px) {
  .first {
    width: 100%;
    justify-content: center;
  }
  .avatarDiv {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .tool {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .avatarDiv {
    justify-content: center;
    width: 100%;
  }
}
