<nav class="nav">
  <div class="container-fluid d-flex justify-content-between">
    <div class="d-flex first">
      <a target="_blank" href="https://www.maids.cc/">
        <img
          width="80px"
          src="../../assets/Logo - Maids.cc visas and nannies V Blue.png"
          class="fs-2 danger align-self-center"
          alt="company logo"
      /></a>
    </div>
    <div class="avatarDiv me-3 d-flex align-self-center">
      <div class="d-flex p-2">
        <p-badge
          badgeSize="large"
          class="p-1"
          (click)="changeTheme('redandblue')"
          severity="danger"
        />
        <p-badge
          badgeSize="large"
          class="p-1"
          (click)="changeTheme('blackandgold')"
          severity="success"
        />
      </div>
      <a target="_blank" href="https://ng-portfolio-one.vercel.app/home">
        <p-avatar
          class="ms-1"
          image="../../assets/353868447_6180342998700400_7472827507306146142_n.jpg"
          alt="portfolio img"
          styleClass="mr-2"
          size="large"
          shape="circle"
        ></p-avatar
      ></a>
    </div>
  </div>
</nav>
