.userCards {
  background-color: var(--bg-300);
  padding: 30px 20px;
  border-radius: 15px;
}
.title {
  color: var(--primary-100);
  background-color: var(--bg-200);
  padding: 10px;
  border-radius: 6px;
  top: 400px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 10px;
  justify-items: center;
  background-color: var(--bg-300);
  border-radius: 6px;
}
.p-card {
  cursor: pointer;
  background-color: var(--primary-100);
}

.p-card .p-card-title {
  color: var(--text-100);
}
.p-card .p-card-subtitle {
  color: var(--text-200);
  font-size: 20px;
}
.p-inputtext {
  background: var(--bg-200);
  border-radius: 6px;
  width: 300px;
  height: 40px;
  color: var(--primary-100);
}
.p-inputtext:enabled:focus {
  box-shadow: var(--accent-200);
  border-color: var(--accent-200);
}
.p-inputtext:enabled:hover {
  border-color: var(--accent-200);
}
label {
  color: var(--primary-100);
}
.overlay {
  cursor: pointer;
  position: relative;
  width: 360px;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--accent-200);
}
.overlay:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-200);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
  border-radius: 6px;
  z-index: 10;
  transform: translateY(50%);
}
.overlay-content {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
  color: white;
  z-index: 11;
}
.overlay:hover:before {
  visibility: visible;
  opacity: 0.7;
  transform: translateY(0);
}
.overlay:hover .overlay-content {
  transition: opacity 0.5s ease 0.2s;
}

.overlay-content i {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
  color: var(--text-100);
}

.overlay-content span {
  color: var(--text-200);
  font-size: 16px;
}
.pag {
  background-color: var(--bg-300);
  border-radius: 10px;
  .p-paginator {
    margin: 20px;
    background-color: var(--bg-200);
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: var(--primary-100);
    color: var(--accent-200);
  }
  .p-paginator .p-paginator-current {
    color: var(--accent-200);
  }
}

@media (max-width: 991px) {
  .title {
    top: 397px;
  }
}
@media (max-width: 425px) {
  .title {
    top: 390px;
  }
}
